body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px gray;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-top: 5px;
  background: #e0e0e0;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: green;
}
body.dark {
  background-color: #121212;
  color: white;
}

body.dark .container {
  background: #1e1e1e;
  box-shadow: 0 0 10px #333;
}

body.dark input, body.dark button {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

body.dark li {
  background-color: #2a2a2a;
  color: white;
}
